/* 按钮基础样式 */
.btn-animate {
    position: relative;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #8a0746, #f46242); /* 初始渐变背景 */
    color: #fff;
    text-align: center;
    transition: background 0.5s ease-in-out, width 0.5s ease, height 0.5s ease; /* 背景、宽度、高度平滑过渡 */
}

/* 关闭按钮样式 */
.btn-close {
    position: relative;
    width: 30px;
    height: 80px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #3215a5, #5d24f2); /* 改变的渐变背景 */
    color: #430c0c;
    text-align: center;
    transition: background 0.5s ease-in-out, width 0.5s ease, height 0.5s ease; /* 背景、宽度、高度平滑过渡 */
}

/* 悬停时的渐变效果 */
.btn-animate:hover {
    background: linear-gradient(45deg, #f46242, #8a0746);
}

.btn-close:hover {
    background: linear-gradient(45deg, #5d24f2, #3215a5);
}
  
.btn-animate__overline-from-right {
    &::before {
      content: "";
      position: absolute;
      left: 100%;
      right: 0;
      top: 0;
      z-index: 1;
      height: 4px;
      background-color: #2a0101;
      transition: .3s ease-out;
    }
  
    &:hover {
      &::before {
        left: 0;
      }
    }   
}