body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: url('Asset/background.png') no-repeat center center fixed;
    background-size: cover;
}

.wiki-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(139, 0, 0, 0.8);
    padding: 10px 20px;
    color: #ffffff;
}

.wiki-header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    display: flex;
    background-color: rgba(43, 43, 43, 0.9);
}

.sidebar {
    width: 120px;
    background-color: rgba(139, 0, 0, 0.7);
    padding: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #d2691e;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(59, 59, 59, 0.6);
    text-align: center;
}

.main-content h1 {
    color: #ff4500;
    border-bottom: 2px solid #8b0000;
    padding-bottom: 10px;
}

.main-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.categories {
    display: grid;
    justify-content: space-around;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 每个元素至少150px，最多占1份宽度 */
    gap: 15px; /* 设置每个元素之间的上下和左右间距 */
}

.category {
    background-color: rgba(130, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    transition: background-color 0.3s ease, height 0.3s ease, margin 0.3s ease; /* 添加过渡效果 */
}

.category:hover {
    background-color: rgba(150, 0, 0, 1);
    margin: 4px;
    transition: background-color 0.3s ease, height 0.3s ease, margin 0.3s ease; /* 添加过渡效果 */
}

.category h2 {
    color: #ffffff;
}

.category p {
    color: #f0f0f0;
}

.category img {
    display: block; /* 确保图片为块级元素 */
    width: 100px; /* 设置统一宽度 */
    height: 100px; /* 设置统一高度 */
    object-fit: contain; /* 保持图片比例，填充到设定尺寸 */
    margin: 0 auto; /* 图片居中显示 */
}

.wiki-footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(139, 0, 0, 0.8);
    color: #ffffff;
}