body{
    background-image: url("Asset/IntactLogo_workshop.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

img.icon{
    position: calc(center);
}

#topText{
    text-align:center;
    color:red;
}

#topText{
    background-color: rgb(127, 255, 212, 0);
    background-image: url("Asset/FireDust1.gif");
}

#topText:hover{
    color:gold;
    background-color: brown;
}

h3{
    text-align: right;
    color:blueviolet;
}

h3{
    /*background-image: url("Asset/FireDust2.gif");*/
    background-position: center;
    background-repeat: repeat-x;
}

h3:hover{
    color:red;
    background-color: bisque;
}

ul
{
    list-style-image: url('Asset/star.png');
}

table
{
    border-collapse:collapse;
}
table,th, td
{
    border: 1px solid black;
}

div{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}