.colorTopRedInOrangToInPink {
    /* 设置渐变背景 */
    background: linear-gradient(90deg, darkred, red, gold, red, red);
    /* 确保背景覆盖整个页面 */
    min-height: 100vh;
    margin: 0;
    /* 优化渐变效果 */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 固定背景，不随滚动移动 */
    background-size: cover;
}

a{
    background-color: blanchedalmond;
}

h1{
    background-color: darkcyan;
}