body {
    background: url('/Asset/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.weapon-content {
    display: flex;
    background-color: rgba(43, 43, 43, 0.9);
    margin: 20px;
    border-radius: 8px;
}

.sidebar {
    width: 200px;
    background-color: rgba(139, 0, 0, 0.8);
    padding: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #d2691e;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(59, 59, 59, 0.9);
    border-radius: 8px;
    margin-right: 10px;
}

.main-content h1 {
    color: #ff4500;
    border-bottom: 2px solid #8b0000;
    padding-bottom: 10px;
}

.image-block {
    width: 300px;
    text-align: center;
    background-color: rgba(82, 80, 57, 0.9);
    border-radius: 8px;
    padding: 10px;
}

.image-block img {
    max-width: 100%;
    border-radius: 8px;
    background-color: #627461;
}

.image-block p {
    font-size: 0.9em;
    margin: 5px 0;
    color: #dcdcdc;
}

.wiki-header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

 /* 为按钮设置样式 */
 #cay_button {
    background-color: #4e766d;  /* 红色背景 */
    border: none;  /* 去掉默认的边框 */
    padding: 4px 10px;  /* 内边距，增加按钮的大小 */
    border-radius: 5px;  /* 圆角效果 */
    cursor: pointer;  /* 鼠标悬停时显示为点击手指 */
    font-size: 12px;  /* 字体大小 */
    text-align: center;  /* 文字居中 */
  }

  /* 链接的样式 */
  #cay_button a {
    color: white;  /* 字体颜色为白色 */
    text-decoration: none;  /* 去掉下划线 */
    font-weight: bold;  /* 加粗字体 */
  }

  /* 鼠标悬停时的按钮样式 */
  #cay_button:hover {
    background-color: #9e1b1b;  /* 鼠标悬停时背景颜色稍微变深 */
  }

  /* 鼠标悬停时的链接样式 */
  #cay_button a:hover {
    color: #f0f0f0;  /* 鼠标悬停时链接文字颜色变化 */
  }